* {
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.header {
  width: 100%;
  font-size: 14;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Gid {
  margin-inline: 10px;
  height: 25px;
}
#Gid:hover {
  cursor: pointer;
}
.about, .contact{
  margin-inline: 10px;
  cursor: pointer;
  transition: 0.15s;
}
.basket {
  margin-inline: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.15s;
}
a:hover {
  color: #1967d2;
}
.about:hover, .contact:hover {
  color: #1967d2;
}
.whitespace {
  height: 70px;
}
.pixelByGoogle {
  height: 250px;
  margin-bottom: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}
.new {
  display: block;
  background-color: #e8f0fe;
  margin: 0 auto;
  width: 30px;
  border-radius: 10px;
  font-size: 12px;
  color: #062e6f;
  cursor: pointer;
}
.phoneImage {
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  height: auto;
}
.phoneName {
  cursor: pointer;
}
.header {
  background-color: #ffffff;
}
.basketheader, .aboutgoogle, .contactheader {
  font-size: 20;
  line-height: 10px;
}
.bodybasket {
  background-color: #f8f8f8;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 160px;
  font-size: 35;
  line-height: 1px;
}
.continue {
  margin: 10px;
  display: flex;
  justify-content: center;
  height: 35px;
}
input[type="button"] {
  width: 190px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: solid 2px #c4c4c4c0;
  border-radius: 4px;
  transition: 0.3s;
}
input[type="button"]:hover {
  border-color: #1a73e8;
  color: #1a73e8;
}
.emptycart {
  display: flex;
  justify-content: center;
  height: 200px;
}
.aboutparagraph {
  font-size: 20px;
  margin-inline: 100px;
  text-align: justify;
}
.contact-content {
  font-size: 50px;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 550px;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 25px;
  z-index: 2;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden {
  display: none;
}